<div class="row">
    <div class="col-md-3 mb-5 text-white container-poster" *ngFor="let movie of movies">
        <img [src]="movie.poster_path | poster" [alt]="movie.title" class="img-fluid poster">
        <div class="overlay">
            <div class="row mx-1">
                <div class="col-12">
                    <div class="float-start">{{ movie.title }}</div>
                    <a class="float-end info" (click)="info(movie.id)"><i class='fas fa-info-circle'></i></a>
                </div>
                <div class="col-10">
                    <star-rating [value]="movie.vote_average" [totalstars]="10" checkedcolor="yellow" uncheckedcolor="grey" size="14px" [readonly]="false"></star-rating>
                </div>
                <div class="col-2">
                    {{ movie.vote_average | number:'1.1-2' }}
                </div>
            </div>
            <div class="row mx-1">
                <div class="col-12">
                    <p class="fs-7">{{ movie.overview }}</p>
                </div>
            </div>
            <div class="row mx-1" *ngFor="let info of infoMovie">
                <div class="col-12" *ngIf="movie.id == info.id">
                    <p class="fs-7 fs-m">N° do Filme: {{ info.id }}</p>
                    <p class="fs-7 fs-m">Valor do Filme: R${{ info.valor_aluguer }}</p>
                    <p class="fs-7 fs-m">Fornecedor: {{ info.fornecedor }}</p>
                    <p class="fs-7 fs-m">Idioma: {{ info.idioma }}</p>
                    <p class="fs-7 fs-m">Tipo de Produto: {{ info.tipo_produto }}</p>
                    <p class="fs-7 fs-m">Tipo de Filme: {{ info.tipo_movie }} Horas</p>
                    <p class="fs-7 fs-m">Data de Cadastro: {{ info.data_cadastro | date:'dd/MM/YYYY' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>